        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CTF</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Challenges</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/scores">Scores</a>
                </li>
                <li>
                    <a href="/rules">Rules</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/ohathar/femtoctf" class="download">Download source</a>
                </li>
            </ul>
        </nav>