        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/">{{ site_data.get('site_title') }}</a></h3>
            </div>

            <ul class="list-unstyled components">
                <li{% if hl_path == 'home' %} class="active"{% endif %}>
                    <a href="/">Home</a>
                </li>
                <li{% if hl_path == 'scores' %} class="active"{% endif %}>
                    <a href="/scores">Scores</a>
                </li>
                <li{% if hl_path == 'rules' %} class="active"{% endif %}>
                    <a href="/rules">Rules</a>
                </li>
                <li{% if hl_path == 'challenges' %} class="active"{% endif %}>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Challenges</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% for challenge in challenges %}
                        <li>
                            <a href="/challenge/{{ challenge.get('id') }}">{{ challenge.get('name') }}</a>
                        </li>
                        {% endfor %}
                        <!--
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                        -->

                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/ohathar/femtoctf" class="download">Download source</a>
                </li>
            </ul>
        </nav>